<p class="links">
  <% for(let item of theme.link){ %>
    <a title="<%- item.name %>" target="<%- item.target -%>" href="<%- item.path %>">
      <i class="iconfont icon-<%- item.icon %>"></i>
    </a>
  <% } %>
</p>
